* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.header {
  background-image: url(../images/header-bg.png);
  height: 1112px;
  background-repeat: no-repeat;
  background-position: top right;
  max-width: 1920px;
  margin: 0 auto;
  position: sticky;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 50px;
}
.header-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  padding-top: 18px;
}
.menu__list-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
  position: relative;
  transition: all 0.6s;
}
.menu__list-link::before {
  content: "";
  width: 0;
  height: 0.125em;
  background: #505f98;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}
.menu__list-link:hover::before {
  width: 100%;
  left: 0;
  background: #505f98;
}

.menu__list-item:first-child {
  margin-right: 60px;
}
.menu__list-item:last-child {
  margin-left: 60px;
}
.logo {
  padding-top: 12px;
}
.template-btn {
  border: none;
  background-color: #111b47;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.buy-now-btn {
  margin-top: 18px;
  height: 26px;
  width: 160px;
  font-size: 12px;
  line-height: 18px;
}
.header-main {
  padding-top: 243px;
  max-width: 540px;
}
.header-main__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}
.header-main__text {
  padding: 20px 0 69px;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
}
.purchase-ui-kit-btn {
  height: 36px;
  width: 190px;
  margin-right: 30px;
}
.learn-more-btn {
  height: 36px;
  width: 190px;
  font-weight: 500;
  border: 2px solid #091133;
  color: #091133;
  background-color: transparent;
}
.light-fast-powerful-first {
  height: 742px;
  background: var(--bkg-color);
}
.light-fast-powerful-first__content {
  display: flex;
}
.light-fast-powerful-first__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  padding: 160px 30px 16px 0;
}
.light-fast-powerful-first__text {
  color: #6f7cb2;
  padding-bottom: 80px;
}
.light-fast-powerful-first__items {
  display: flex;
  justify-content: space-around;
}
.light-fast-powerful-first__item {
  height: 138px;
  width: 255px;
}
.light-fast-powerful-first__item-title {
  padding-top: 14px;
  padding-bottom: 6px;
  font-weight: 500;
  color: #091133;
}
.light-fast-powerful-first__item-text {
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
}
.light-fast-powerful-first__img {
  margin: 109px auto 109px 30px;
}
.light-fast-powerful {
  height: 569px;
}
.light-fast-powerful__content {
  height: 569px;
  display: flex;
  align-items: center;
}
.light-fast-powerful__body {
  width: 445px;
  height: 228px;
}
.light-fast-powerful__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  padding: 0 30px 16px 0;
}
.light-fast-powerful__text {
  color: #6f7cb2;
}
.light-fast-powerful__img2 {
  padding-right: 155px;
  padding-left: 30px;
}
.light-fast-powerful__img3 {
  padding-right: 125px;
}
.light-fast-powerful__img4 {
  padding-right: 172px;
  padding-left: 48px;
}
.price {
  height: 750px;
  background-color: #d5d8ed;
}
.price__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__title {
  padding-top: 200px;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.price__text {
  
  color: #6f7cb2;
  padding-top: 16px;
  width: 600px;
  height: 78px;
  text-align: center;
}
.price__price {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  padding-top: 30px;
  letter-spacing: 1px;
  color: #222f65;
}
.price__inscription-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #37447e;
}
.price__inscription-btn {
  font-size: 14px;
  line-height: 24px;
  padding-top: 60px;
  color: #5d6970;
}
.price__btn {
  padding-top: 9px;
}
.purchase-now-btn {
  height: 32px;
  width: 189px;
  font-size: 14px;
  line-height: 24px;
}
.footer {
  height: 216px;
  background-color: #E7ECFF;
}

.footer__main {
  height: 139px;
  border-bottom: 1px solid #CDD1D4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy{
  font-size: 14px;
line-height: 24px;
color: #939EA4;
}
.footer__purchase-now-btn{
  height: 26px;
  width: 109px;
  font-size: 12px;
line-height: 18px;
}
.footer__bottom {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  height: 24px;
}
.footer__list{
  padding-top: 0;
}
.social-networks__list {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
@media(max-width:1215px){
  .header{
    background-image: unset;
    height: auto;
  }
  .header-main{
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
  }
  .buy-now-btn {
    width: 100px;
  }
  .light-fast-powerful-first{
    height: auto;
  }

  .light-fast-powerful-first__content{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .light-fast-powerful-first__img{
    margin: 15px 0 0;
  }
  .light-fast-powerful__content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .light-fast-powerful__title{
    padding:0;
  }
  .light-fast-powerful__img2{
    padding: 0;
  }
  .light-fast-powerful__img img{
    padding: 25px 0;
  }
  .light-fast-powerful__body{
    height: auto;
    width: auto;
  }
  .price{
    height: auto;
  }
  .price__title{
    width: auto;
    padding: 15px 10px;
    text-align: center;
  }
  .price__text{
    width: auto;
    padding: 15px 10px;
    height: auto;
  }
  .price__btn{
    padding-bottom: 20px;
  }
}
@media(max-width:615px){
  .header-top{
    flex-direction: column;
    align-items: center;
  }
  
  .menu__list-item:first-child,.menu__list-item:last-child{
    margin: 0;
  }
  .menu__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buy-now-btn{
    margin: 6px 0 0;
  }
  .purchase-ui-kit-btn{
    width: 110px;
    font-size: 14px;
    line-height: 24px;

  }
  .learn-more-btn{
    width: 110px;
    font-size: 14px;
    line-height: 24px;
  }
  .header-main__text{
    padding-bottom: 20px;
  }
  .light-fast-powerful-first{
    height: auto;
  }
  .light-fast-powerful-first__title{
    padding: auto 0;
    padding-right: 0;
  }
  .light-fast-powerful-first__img img{
    max-width:100%;
     height:auto;
  }
  .light-fast-powerful__img2,.light-fast-powerful__img img{
    max-width:100%;
     height:auto;
  }
  .purchase-ui-kit-btn{
    margin: 8px 0 0;
  }
  .learn-more-btn{
    margin: 8px 0 0;
  }
  .light-fast-powerful-first__items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .light-fast-powerful-first__item:last-child{
    padding-top: 40px;
    z-index: 5;
  }
  .light-fast-powerful{
    height: auto;
  }
  .light-fast-powerful__content{
    height: auto;
  }
  .light-fast-powerful__title{
    padding: auto 0;
  }
  .light-fast-powerful__body{
    width: auto;
    height: auto;
  }
  .light-fast-powerful__text{
    width: auto;
    text-align: center;
  }
  .footer{
    height: auto;
  }
  .footer__purchase-now-btn{
    display: none;
  }
  .footer__main{
    height: auto;
    padding-top: 10px;
    flex-direction: column-reverse;
  }
  .footer__bottom{
    height: auto;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .footer__menu{
    height: auto;
    padding: 15px 0;
  }

}
@media(max-width:365px){
  .header{
    background-image: unset;
    height: auto;
  }
  .header-main__title{
    font-size: 34px;
   line-height: 40px;
  }
  .light-fast-powerful-first__title{
    padding: 30px 0;
  }
  .light-fast-powerful__title{
    padding:10px 0;
  }
}